
        body {
            text-align: center;
            font-family: sans-serif;
        }

        h1 {
            font-size: 18px;
            color: brown;
        }

        table tr td {
            padding-top: 6px;
            padding-bottom: 6px;
        }

        fieldset {
            width: 500px;
            text-align: center;
           color: crimson;
           font-size: 16px;
        
        }
 